.calendar-wrapper {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  background: var(--color-primario);
  border-radius: 12px;
  box-shadow: var(--sombra);
}

.react-calendar {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ddd;
  font-family: var(--fuente-principal);
}

.react-calendar__tile {
  height: 50px !important;
  font-size: 0.9rem;
  position: relative;
  transition: 0.2s;
}

.react-calendar__tile:hover {
  background-color: #f7c38755;
  border-radius: 6px;
}

/* Disponibilidad */
.react-calendar__tile.disponible {
  background-color: #e2f7e2 !important;
  color: #155724 !important;
  border-radius: 6px;
}

.react-calendar__tile.semi-disponible {
  background-color: #fff6d9 !important;
  color: #856404 !important;
  border-radius: 6px;
}

.react-calendar__tile.no-disponible {
  background-color: #ffe0e0 !important;
  color: #a10000 !important;
  border-radius: 6px;
}

.selected-dates {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}
